// Variables

// Fonts
$main-head-font: 'robotothin';
$main-head-italic-font: 'robotoitalic';
$main-head-two-font: 'robotolight';
$welcome-title-font: 'robotomedium';



//narrow regular
$main-nav-font: 'PT Sans Narrow', sans-serif;
//pt sans bold
$main-head-title-font: 'PT Sans', sans-serif;
//$content-font: 'pt_sansregular';

// Font Sizes
$button-course-size: 1.35em;
$main-course-menu: 1.25em;
$course-code: 0.875em;
$course-title: 1.125em;
$paragraph-font-size: 1em;

$text-decor: none;
$text-center: center;

// Colors
$main-color: #ffffff;
$main-secondary-color: #000000;
$calendar-background-color: #4A4A4A;


//Backgrounds
$main-background: rgba(255, 255, 255, 0.5);
$background-secondary: rgba(0,0,0,0.5);


//Box Shadows
$main-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
$secondary-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.50);

//Width & Height
$main-width: 100%;
$main-height: 60px;

//Padding
$padding-top-content: 20px;
$padding-content: 30px;
$padding-content-two: 40px;

//Margin
$margin-right: 20px;

// Position
$main-position: relative;
$main-secondary: absolute;
$main-overflow: hidden;

//Floats
$float-left: left;
$float-right: right;
$main-display: none;

//Borders
$main-border: none;
$main-border-radius: 8px;