<!--Greeting Screen-->
<ion-content scroll="false" id="greeting">

<div id="greetingBeg">
	<h4>Before, you are sent to the home screen. Are you a</h4>
</div>

<div id="greetingInputs">
	<h2 class="hidden">Greeting Inputs</h2>
	<h3 class="hidden">New Student Input</h3>
	<a class="underline" href="#/newstudent"><input type="button" id="newstudent" value="New Student"></a>
	<br>
	<h3 class="hidden">Returning Student Input</h3>
	<a class="underline" href="#/returningstudent"><input type="button" id="returningstudent" value="Returning Student"></a>
</div>

<div id="greetingEnd">
	<h4>at Fanshawe College?</h4>
</div>

</ion-content>