<ion-content>
<!--Main Header Include-->
<div ng-include="'partials/templates/main-header.html'"></div>

<!--Main Banner For Headings-->
<div class="mainHeading">
	<h2>Calendar</h2>
</div>

<div class="calendarCourse">
	<h2 class="hidden">Course Menu Home Page</h2>
		<button id="button3" ng-click="ShowHide3(); ToggleArrowCal()">
			<h2 class="courseName">My Courses</h2><h2 class="arrow"><i class="icon ion-chevron-right calendarCourseMenuItem"></i></h2>
			<span class="hidden">Toggle</span>
		</button>

		<div id="calendarCourseDropdown" ng-show="CalendarCourse">
		<ion-item ng-repeat="course in courses" class="item-icon-right bgColorCalendarCourseMenu" href="#">
			<h2 class="courseName">{{course.courses_name}}</h2><i class="icon ion-chevron-right calendarCourseMenuItem"></i>
			<h4 class="courseCode">{{course.courses_codename}}</h4>
		</ion-item>
		</div>
</div>

<div class="calendarHeader">
<calendar-md flex layout layout-fill
  calendar-direction="direction"
  on-prev-month="prevMonth"
  on-next-month="nextMonth"
  on-day-click="dayClick"
  title-format="'MMMM y'"
  ng-model='selectedDate'
  week-starts-on="firstDayOfWeek"
  data-start-month="3"
  data-start-year="2016"
  tooltips="tooltips"
  day-format="dayFormat"
  day-label-format="'EEE'"
  day-label-tooltip-format="'EEEE'"
  day-tooltip-format="'fullDate'"
  day-content="setDayContent"
  disable-future-selection="false">
</calendar-md>
</div>

</ion-content>