<ion-content>
<!--Main Header-->
<div class="mainHeader">
	<h2>My FOL</h2>
	<div class="mainIcons">
		<h2 class="hidden">Main Icons</h2>
		<img class="alert" src="img/alert2.png" alt="alert icon">
		<img class="calendar" src="img/Calendar2.png" alt="calendar icon">
		<img class="settings" src="img/Settings2.png" alt="settings icon">
	</div>
</div>

<!--Main Navigation-->
<div class="bg1"><h2 class="hidden">Background Colour 1</h2></div>
<ion-list scroll="false" id="navList">
<ion-item>
    <ion-scroll direction="x" id="navCont">
        <nav id="mainNav" item="app">
        <h2 class="hidden">Main Navigation</h2>
        <a href="#/home"><span class="links">Home</span></a>
        <a href="#/courses"><span class="links">Courses</span></a>
        <a href="#/news"><span class="links">News</span></a>
        <a href="#/email"><span class="links">Email</span></a>
        <a href="#/tutorials"><span class="links">Tutorials</span></a>
        <a href="#/testbookings"><span class="links">Test Bookings</span></a>
        </nav>
    </ion-scroll>
</ion-item>
</ion-list>

<div id="welcome">
	<h2>Welcome To My FOL</h2>
</div>

<div id="welcomeMessage">
	<h3>Welcome Back Message</h3>
	<p>Welcome to My FOL on mobile, you can access your school stuff through this app. You will be able to read your emails, write discussions, view your grades/comments, view classlist and etc.</p>
</div>

<div class="homeLinks">
<h2 class="hidden">Home Links</h2>
<ion-item class="item-icon-right bgColorHome" href="#">
<h2>Recently Viewed</h2><i class="icon ion-chevron-right homeItem"></i>
</ion-item>
<br>
<ion-item class="item-icon-right bgColorHome" href="#">
<h2>View Calendar</h2><i class="icon ion-chevron-right homeItem"></i>
</ion-item>
</div>


</ion-content>