<ion-content>
<!--Main Header Include-->
<div ng-include="'partials/templates/main-header.html'"></div>

<!--Main Banner For Headings-->
<div class="mainHeading">
	<h2>Settings</h2>
</div>

<div class="settingLinks">
<h2 class="hidden">Setting Links</h2>
<ion-item class="item-icon-right bgColorSetting" href="#">
<h2>Notifications</h2><i class="icon ion-chevron-right settingItem"></i>
</ion-item>
<br>
<ion-item class="item-icon-right bgColorSetting" href="#">
<h2>Languages</h2><i class="icon ion-chevron-right settingItem"></i>
</ion-item>
<br>
<ion-item class="item-icon-right bgColorSetting" href="#">
<h2>Log Out</h2><i class="icon ion-chevron-right settingItem"></i>
</ion-item>
</div>

</ion-content>