<ion-content>
	<div id="saveContainer">
		<h2 class="hidden">Save Container</h2>
		<a class="underline" href="#/tutorials"><input type="button" id="saveBut" value="Save"></a>
	</div>

	<div id="cancelContainer">
		<h2 class="hidden">Cancel Container</h2>
		<a class="underline" href="#/greeting"><input type="button" id="cancelBut" value="Cancel"></a>
	</div>


	<div id="createProfile">
		<h2>Create Your Profile</h2>
	</div>

	<form id="fillOutProfile">
		<h2 class="hidden">Profile Form</h2>
		<label class="profileLabel" for="image">Profile Image :</label>
		<br>
		<input class="profileInputFile" type="file" name="img">
		<br>
		<label class="profileLabel" for="hometown">Hometown :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="facebook">Facebook :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="twitter">Twitter :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="linkedin">LinkedIn :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="address">Address :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="city">City :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="country">Country :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="province">Province :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="highschool">High School :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="college">College :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="university">University :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="employers">Employers :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="position">Position :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="learnexperience">Learning Experience :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="website">Website :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="hobbies">Hobbies :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="books">Books :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="music">Music :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="tvshows">Tv Shows :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="movies">Movies :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="tagline">Tagline :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="quotes">Quotes :</label>
		<input class="profileInput" type="text">
		<br>
		<label class="profileLabel" for="goals">Goals :</label>
		<input class="profileInput" type="text">
	</form>

</ion-content>