<ion-content>
<!--Main Header Include-->
<div ng-include="'partials/templates/main-header.html'">
	<h2 class="hidden">Main Header Template</h2>
</div>

<!--Main Banner For Headings-->
<div class="mainHeading">
	<h2>Courses</h2>
</div>

<!--Main Course Home Dropdowns Include-->
<div class="menuCourse" ng-include="'partials/templates/coursedropdowns.html'">
	<h2 class="hidden">Menu Course Dropdown Include</h2>
</div>

<!--Classlist Area-->
<div id="classlist">
<div id="listUser" ng-repeat="users in user | orderBy : 'user_last'">
	<h2 class="hidden">Classlist</h2>
	<button id="userBox" ng-click="hiddenDiv = !hiddenDiv">
		<h3 class="hidden">User Image & Username</h3>
		<!--img class="userImage" src="img/{{users.user_image}}" alt="user image"-->
		<h2 class="userName">{{users.user_last}} , {{users.user_first}}</h2>
	</button>
		<div class="classlistDrop" ng-show="hiddenDiv">
		<h4 class="hidden">Classlist Dropdown Classlist</h4>
		<ion-item class="item-icon-right bgColorClasslist">
		<button id="emailBut">Email</button>
		<br>
		<button id="profileBut">Profile</button>
		</ion-item>
	</div> 
</div>
</div>

</ion-content>

	<!-- <div class="item item-divider" ng-if="firstLetter(users.user_last) != firstLetter(users[$index-1].user_last)">
		{{firstLetter(users.user_last)}}
	</div> <--></-->