<ion-content>
<!--Main Header Include-->
<div ng-include="'partials/templates/main-header.html'"></div>

<!--Main Banner For Headings-->
<div class="mainHeading">
	<h2>Courses</h2>
</div>

<div class="courseMenu">
	<h2 class="hidden">Course Menu Home Page</h2>
		<button id="button" ng-click="ShowHide()">
			<h2 class="courseName">My Courses</h2><h2 class="arrow"><i class="icon ion-chevron-right courseMenuItem"></i></h2>
			<span class="hidden">Toggle</span>
		</button>

		<div id="courseDropdown" ng-show="IsVisible">
		<ion-item ng-repeat="course in courses" class="item-icon-right bgColorCourseMenu" href="#/courseshome/{{$index}}">
			<h2 class="courseName">{{course.courses_name}}</h2><i class="icon ion-chevron-right courseMenuItem"></i>
			<h4 class="courseCode">{{course.courses_codename}}</h4>
		</ion-item>
		</div>
</div>

<div id="courseLinks">
<h2 class="hidden">Courses Links</h2>
</div>

</ion-content>