<ion-content>
<!--Main Header Include-->
<div ng-include="'partials/templates/main-header.html'"></div>

<!--Main Banner For Headings-->
<div class="mainHeading">
	<h2>Courses</h2>
</div>

<!--Main Course Home Dropdowns Include-->
<div class="menuCourse" ng-include="'partials/templates/coursedropdowns.html'"></div>

<div id="textbooklist">
	<h2>Textbook List :</h2>
	<p>There is no textbooks needed for this course.</p>
</div>

<div class="courseNews">
	<h2>Course News</h2>
</div>

<div id="welcomeBack">
	<h3>Welcome Back!</h3>
	<h5>Posted Jan 3, 2016 8:26 PM</h5>
	<p>Greetings Students,
	<br>
	<br>
	I would like to wish you all a Happy New Year!
	<br>
	<br>
	Welcome back to the Interactive Media Specialist Program. I am very excited to be your Prof. I look forward to expanding your knowledge base of web based technologies.
	<br>
	<br>
	Marco
</p>
</div>

</ion-content>