<ion-content scroll="false">
<!--Main Header Include-->
<div ng-include="'partials/templates/main-header.html'">
	<h2 class="hidden">Main Header Template</h2>
</div>

<!--Main Banner For Headings-->
<div class="mainHeading">
	<h2>Courses</h2>
</div>

<!--Main Course Home Dropdowns Include-->
<div class="menuCourse" ng-include="'partials/templates/coursedropdowns.html'">
	<h2 class="hidden">Menu Course Dropdown Include</h2>
</div>

<img class="discussionImage" src="img/discussions.png" alt="discussion Image">
</ion-content>